<p>Welcome to Rock, Paper and Scissors, <%= @player_1.name %>!</p>
<br>
<p>You will be playing against the CPU. Please choose an option below:</p>
<br>
<form action='/pick' method='/post'>
  <label>Rock
    <input type='radio' name='hand' value='Rock'></label><br>
    <label>Paper
      <input type='radio' name='hand' value='Paper'></label><br>
      <label>Scissors
        <input type='radio' name='hand' value='Scissors'></label><br>
        <input type='submit' value='Play'>
      </form>